<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuitePWCM">
  
  <test name="Test">
  <classes>
  <class name="com.Centurylink.PWCM.Sprint208"/>
  <class name="com.Centurylink.PWCM.Sprint209"/>
  </classes>
  </test>
  
</suite> <!-- SuitePWCM -->
